*
!.gitignore
!COPYING
!README.md

!doc
doc/*
!doc/README.md
!doc/EXAMPLE_WORKFLOWS.md

!servers/
servers/*

!servers/python/
servers/python/*
!servers/python/forgefed_constants.py
!servers/python/forgefed_model.py
!servers/python/forgefed_controller.py
!servers/python/forgefed_wsgi.py
!servers/python/post-bogus-ap-note
!servers/python/run-dev-server

!servers/ruby/
servers/ruby/*
!servers/ruby/forge-fed.rb

!vocabulary/
!vocabulary/*
!vocabulary/COMMENT.md
!vocabulary/ISSUE.md
!vocabulary/PULL-REQUEST.md
!vocabulary/README.md
!vocabulary/REPOSITORY.md
!vocabulary/VOCABULARY.md
