* {
    -moz-box-sizing:     border-box;
    -webkit-box-sizing:  border-box;
    box-sizing:          border-box;
}

html, body {
    background-color: #fff;
    font-family:      OpenSans Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
    height:           100%;
    margin:           0;
    padding:          0;
    width:            100%;
}

body {
    padding: 1rem 10%;
}

blockquote {
    background-color:    #f8f8f8;
    border-left:         5px solid #e9e9e9;
    font-size:           .85em;
    margin:              1em 0;
    padding:             .5em 1em;
}

blockquote cite {
    color:       #999;
    display:     block;
    font-size:   .8em;
    margin-top:  1em;
}

blockquote cite:before {
    content: "\2014 \2009";
}

ul, ol {
    margin: auto;
}

table {
    border-collapse: collapse;
    margin:          2rem 0;
    max-width:       100%;
    text-align:      left;
}

th {
    color:       #039;
    font-weight: bold;
    padding:     1rem;
}
    
tr:nth-child(even) {
    background: #F7F9FF;
}

td {
    border-top:      1px solid #e8edff;
    padding:         .5rem 1rem;
    vertical-align:  top;
}

.header-title a {
    color: #005A9C;
    text-decoration: none;
}

pre {
    font-family: Inconsolata, Hack, DejaVu Sans Mono, Courier New, monospace, sans-serif;
    white-space: pre-wrap;
    word-wrap:   break-word;
    text-align:  justify;
}

code {
    background-color:    #fcfaee;
    border-radius:       0;
    display:             inline-block;
    font-family:         Inconsolata, Hack, DejaVu Sans Mono, Courier New, monospace, sans-serif;
    font-size:           85%;
    line-height:         140%;
    margin:              0 .2em;
    padding:             .2em;
}

code.sourceCode {
    border-left: .5rem solid #e0cb52;
    padding:     .5rem 1rem;
}

/* Code highlights edited from older css */
code span.al { color: #ffcfaf; } /* Alert */
code span.an { color: #7f9f7f; font-weight: bold; } /* Annotation */
code span.at { } /* Attribute */
code span.bn { color: #dca3a3; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #f0dfaf; } /* ControlFlow */
code span.ch { color: #dca3a3; } /* Char */
code span.cn { color: #dca3a3; font-weight: bold; } /* Constant */
code span.co { color: #7f9f7f; } /* Comment */
code span.cv { color: #7f9f7f; font-weight: bold; } /* CommentVar */
code span.do { color: #7f9f7f; } /* Documentation */
code span.dt { color: #000000; } /* DataType */
code span.dv { color: #dcdccc; } /* DecVal */
code span.er { color: #000000; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #c0bed1; } /* Float */
code span.fu { color: #000000; } /* Function */
code span.im { } /* Import */
code span.in { color: #7f9f7f; font-weight: bold; } /* Information */
code span.kw { color: #0006e2; } /* Keyword */
code span.op { color: #f0efd0; } /* Operator */
code span.ot { color: #000000; } /* Other */
code span.pp { color: #ffcfaf; font-weight: bold; } /* Preprocessor */
code span.sc { color: #dca3a3; } /* SpecialChar */
code span.ss { color: #cc9393; } /* SpecialString */
code span.st { color: #dd1144; } /* String */
code span.va { } /* Variable */
code span.vs { color: #cc9393; } /* VerbatimString */
code span.wa { color: #7f9f7f; font-weight: bold; } /* Warning */

/* TOC title */
.toc-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

nav.toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.toc ul ul {
    margin-left: 2rem;
}
